html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 1000;

  height: 100%;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background: #111d27;
  margin: 0;
  display: flex;
  justify-content: center; /* căn ngang */
  align-items: center;     /* căn dọc */
  min-height: 100vh;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
}

div .main-app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voice-command {

  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 500;
}

.app-name {
  margin-top: 20vh;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.switch  {
  margin: 50px;
}

.input-text-area {
  font: inherit;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 10vh;
  justify-self: center;
  font-size: 1em;
  padding: auto;
  border-radius: 10px;
  border: 2px solid #ffffff;
  opacity: 0.8;
}

.logo {
  max-height: 50px;
  vertical-align: middle;
  margin-left: 0.5em;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .main-app {
    flex-direction: column;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .main-app {
    flex-direction: column;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .main-app {
    flex-direction: column;
  }
}
