.btn {
  background-color: rgb(108, 234, 253);
  font-weight: 1000;
  max-width: 40vw;
  padding: 10px 18px;
  border: #516b87 1px solid;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Kiểu mặc định */
.btn-primary {
  background-color: #1b3b55;
  color: white;
}
.btn-primary:hover {
  background-color: #63a3e8;
}

/* Kiểu phụ */
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.btn-secondary:hover {
  background-color: #5a6268;
}

/* Kiểu cảnh báo */
.btn-danger {
  background-color: #dc3545;
  color: white;
}
.btn-danger:hover {
  background-color: #c82333;
}
