.env-dashboard {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 10px;
}

.env-stat {
  background: #111;
  padding: 16px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.env-title {
  font-size: 14px;
  opacity: 0.8;
}

.env-value {
  font-size: 28px;
  font-weight: bold;
}

.env-value span {
  font-size: 14px;
  opacity: 0.7;
}

.env-chart {
  grid-column: span 3;
  background: #111;
  padding: 16px;
  border-radius: 10px;
}
