.led-controller {
    width: 100vw;
    height: 100vh;
    background-color: #111d27;
    gap: 50px;
    margin-top: 15vh;

    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}

.buttons-group {
    margin-top: 0vh;;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.led-circle {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    /* border: 2px solid #000; */
}

.bit-led {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
