.switch {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #aaa;
  transition: transform 0.2s;
}

/* Khi báº­t */
input:checked + .slider {
  background-color: #3ad679;
}

input:checked + .slider::before {
  transform: translateX(50px);
}

.switch-label {
  font-size: 2rem;
  user-select: none;
  font-weight: 700;
}
