.top-bar {
    height: 10vh;
    width: 100%;
    display: flex;;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    gap: 30px;
    background-color: #f7f8ff;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);
}

.top-bar .nav-link {
    font-weight: 500;
    color: #1c1b1b;
    text-decoration: inherit;
    font-size: 1.5em;
}

.top-bar .nav-link:hover {
    color: #fa74ea;
}

.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.25s ease;
}

.nav-link:hover::after {
  width: 100%;
}
